<h1> Quotes</h1>
<hr>
<div class="container">
        <div class="row">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
<div class="container">
    <div class="row" *ngFor="let quote of quotes;let i = 'index'">
        <div class="row">
            <h4 id="{{i}}">{{quote.name}} </h4>
            <button class="btn btn-primary" (click)='toogleDetails(i)'>Details</button>
        </div>
        
        <div class="row" *ngIf="quote.showDescription">
        <app-quotes-details  [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quotes-details>
    </div>
    
</div>

</div>

<p *ngIf='quotes.length > 5'></p>


